*{
	margin:0px;
	padding:0px;
	box-sizing:border-box:
	/* Box-sizing: borderbox so that if we have a different padding between any elements with same width and height their box size is the same ex: https://www.w3schools.com/css/css3_box-sizing.asp */
}
.div88 {
  width: 50%;
  height: 600px;
  margin-left:430px;
  margin-top:0px;
  border: 1px solid #49072E;
  padding:3px;
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, red, purple);
  align-content: center;
  font-size: 13px;
  font-family: sans-serif;
  vertical-align: top;
}


iframe {
    width: 250%;
    height: 600px;
	border: 1px solid #49072E;
    overflow: hidden;
    margin-top:-5px;
	margin-left:170px;
	vertical-align: top;
}​
	
html {
    height: 100%;
}
body {
  background-color:#49072E;
}
nav{
	display: flex;
	/* flex to use space no overflow and nowated space */
	justify-content: space-around;
	/* this justify just for flex */
	align-items: center;
	background-color:#5d4954;
	font-family: "Poppins",sans-serif;
}
.logo{
	color:rgb(226,226,226);
	text-transform: uppercase;
	letter-spacing: 5px; 
	font-size: 20px;
}

.nav-links{
	display:flex;
	justify-content: space-around;
	width: 40%;
}
.nav-links li{
	list-style:none;
}
.nav-links a {
	color:rgb(226,226,226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}